#navigator-toolbox {
    height: 0.5rem;
    margin-bottom: -0.5rem;
    opacity: 0;
    overflow: hidden;
}

#navigator-toolbox:hover,
#navigator-toolbox:focus-within {
    /*
     * Add some padding between the navbar and the top screen edge 
     * to be more visible while the macOS hidden menu bar shows up. 
     * The macOS menubar will hide after a few seconds.
     */
    padding-top: 0rem;
    height: auto;
    margin-bottom: 0rem;
    opacity: 1;
    overflow: visible;
}
:-moz-any(#content,#appcontent) browser{
 margin-right:-14px!important;
 overflow-y:scroll;
 margin-bottom:-14px!important;
 overflow-x:scroll;
}
